* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: #333;
}

.settings {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.setBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: solid 1px #007BFF;
  border-radius: 5px;
  background-color: #e9e9e9;
  color: black;
  transition: background-color 0.3s ease;
}

.setBtn:hover {
  background-color: #0056b3;
  color: white;
}

.size {
  text-align: center;
  gap: 10px;
}

.sizeValue {
  font-size: 24px;
  color: #333;
}

.grid {
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 500px;
  display: grid;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.cell {
  border: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ddd;
  display: none;
}

